/*body {
    background-color: #ffc0cb; 
}*/

h1 {
    padding: 8px;
}

.div-1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    color: black;

}

.div-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: black;
}

.div-3{
    font-size: 18px;
    padding-left: 62px;
    padding-right: 62px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.container{
    display: flex;
    background-color: #c6e2ff;
    height: 8%;
    width: 100%;
    padding-left: 275px;
    padding-right: 275px;
    border: solid 2px black;
}
.flex-item{
    flex-grow: 1;
}

a {
    font-size: 32px;
}